[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.7"

[packages]
django = "*"
djangorestframework = "*"
pipfile = "*"

[dev-packages]
ipdb = "*"
flake8 = "*"
pytest-django = "*"
pytest-cov = "*"
